.card {
    position: relative;
    margin-top: 50px;
    padding: 3rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card_delete {
    position: absolute;
    top: 10%;
    right: 5%;
}

.card_title {
    color: rgba(0,0,0,0.8);
    font-size: 30px;
}

.card_summary {
    margin: 5px 0 5px 0;
    color: rgba(0,0,0,0.7);
}

.card_isbn {
    margin: 10px 0 3px 0;
    color: rgba(0,0,0,0.7);

}

.card_isbn span {
    font-size: 15px;
}

.card_author_list {
    display: flex;
    list-style-type: none;
}

.card_author_name {
    cursor: pointer;
    padding-top: 10px;
    color: rgb(25, 106, 153);
    margin-right: 20px;
}
